<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <title>Programming Languages</title>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link href="/static/css/stylesheet.css" rel="stylesheet" />   
    </head>
<body>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li>
                    <a href="#home" data-scroll>
                        <span class="fa fa-anchor solo"></span>
                    </a>
                </li>
                <li>
                    <a href="#home" data-scroll>
                        <span class="fa fa-anchor solo">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#anch1" data-scroll>
                        <span class="fa fa-anchor solo">Learn a New Language</span>
                    </a>
                </li>
                <li>
                    <a href="#anch2" data-scroll>
                        <span class="fa fa-anchor solo">Starting a Project</span>
                    </a>
                </li>
                <li>
                    <a href="#anch3" data-scroll>
                        <span class="fa fa-user solo">Account Information</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

        <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row">
                    <div class="jumbotron text-center" >

                    </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>