<!DOCTYPE html>
<html>
<body>
	Hello
	REGISTER
	<br/>
	<br/>
	<br/>

	<!--<form id="login_form" action="/register/" method="post">-->
		<!--<label class="grey" for="log">Username</label><br />-->
		<!--<input type="text" name="email" style="width:99%" id="email"><br>-->
		<!--<label class="grey" for="pwd">Password</label><br />-->
		<!--<input type="password" name="password" style="width:99%" id="password"><br />-->
		<!--<label />-->
		<!--<input type="submit" id="loginbtn" name="login" value="LOGIN" class="button"><br />-->
	<!--</form>-->
	 <form action = "/register/" method = "post" id = "login_form">
        <fieldset>
            <label for = "username">Username </label>
            <input class = "text-input" id = "username" placeholder = "Enter in your username" name = "username" type = "text" value = ""  required>
        </fieldset>
        
        <fieldset>
            <label for = "password">Password </label>
            <input class = "text-input" id = "password" name = "password" type = "password" placeholder = "Enter in your password" value = "" required>
        </fieldset>
        
        <div id = "form_btn">
            <p></p>
            <input id = "signin-btn" class = "btn btn-blue" type = "submit" value = "Sign In" tabindex = "3">
        <div>
    </form>
	<br/>
	<br/>

</body>

</html>